.intro-container .search-tabs ul li {
    .select2-container--default .select2-selection--single {
        border: none !important;
        height: 50px;
        @media (max-width: 767px) {
            height: 40px;
        }
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 18px;
        font-weight: 400;
        color: #aaaaaa;
        line-height: 50px;
        padding: 0 20px;
        @media (max-width: 767px) {
            line-height: 40px;
            font-size: 16px;
        }
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        background: url("../img/select.png") no-repeat center center;
        width: 12px;
        height: 7px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

}

.select2-container--open .select2-dropdown--below {
    border: none;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    margin-top: 3px;
    border-radius: 4px !important;
    padding-bottom: 10px;
}

.select2-results__option {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    padding: 0;
    line-height: 22px;
    padding-left: 20px;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @media (max-width: 767px) {
        font-size: 14px;
        line-height: 20px;
    }
}

.select2-results__option[aria-selected="true"] {
    color: #fff;
}
.select2-search--dropdown {
    display: none !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #333333;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #333333;
}

.select2-results__group {
    padding: 2px 20px !important;
    background-color: #eeeeee;
}

.select2-results__options.select2-results__options--nested {
    .select2-results__option {
        padding-left: 40px !important;
    }
}
